$fontFamily: "Inter", sans-serif;
$fontWeightSemiBold: 600;
$mainFontSize: 14px;
$SecondaryFontSize: 16px;
$darkFontColor: #0e0e0e;
$lightFontColor: #f3f3f3;
$accentFontColor: #9a7b4f;

$accentBackgroundColor: rgba(167, 119, 51, 86%);
$lightBackgroundColor: rgba(251, 237, 217, 28%);
