@import "../../../../scss";

.wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  display: block;
  // margin-left: auto;
}

.icon {
  width: 28px;
  height: 28px;
  stroke: $darkFontColor;

  @include md {
    width: 36px;
    height: 36px;
  }
}

.burger_content {
  position: absolute;
  z-index: 100;
  top: 71px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 71px);

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 32px 16px;
  background-color: $accentBackgroundColor;

  @include sm {
    padding: 32px;
  }
  @include md {
    padding: 40px;
    top: 84px;
    height: calc(100vh - 84px);
  }
}
