@import "../../../scss";

.header {
  padding: 20px 16px;
  background-color: $accentBackgroundColor;
  color: $lightFontColor;

  @include lg {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 24px;
    padding: 40px 16px;
  }
}
